*.o
src/fatlabel
src/fsck.fat
src/mkfs.fat
src/testdevinfo
tests/*.log
tests/*.trs

tags
TAGS
*~
.*.sw[a-p]
*.orig
*.rej
*.DS_Store

aclocal.m4
autom4te.cache
config.guess
config.log
config.rpath
config.status
config.sub
configure
compile
depcomp
install-sh
missing
test-driver
.deps
.dirstamp

Makefile
Makefile.in
src/version.h
manpages/fatlabel.8
manpages/mkfs.fat.8
manpages/fsck.fat.8
